<h1>Welcome to Fishing Logs</h1>
<h2>Login or <a href="/users/signup">Create New Account</a></h2>

<form method="post" action="/login">
    <label for="email">Email: </label>
    <input type="text" id="email" name="email"><br>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password"><br>
    <button type="submit">Login</button>
</form>