<div class="container">

    <h1 align="center">Welcome to Fishing Logs!</h1>
    
      <form method="Post" action="/login" class="form-signin">
        <h2 class="form-signin-heading" align="center">Please Sign In</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="location.href='/users/signup'">Create Account</button>
      </form>

</div> 