<div class="container">

    <h1 align="center">Here are your logs</h1>

    <button class="create-btn btn btn-primary btn-medium text-center">Create New Log Entry</button>

    <% @logs.each do |log| %>
        <h3><a href="/logs/<%= log.id %>"><%= "Date: " + log.date + " " + "Location: " + log.location  %></a></h3>
    <% end %>
</div>