<h1>Here are your logs!</h1>
<h2><a href="/logs/new">Create New Log</a></h2>

<% @logs.each do |log| %>
    <h3><a href="/logs/<%= log.id %>"><%= "Date: " + log.date + " " + "Location: " + log.location  %></a></h3>
<% end %>
